/* CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html {
  height: 100%;
}

body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #e7e7e7;
  min-height: 100%;
}

header,
nav,
section,
footer {
  display: block;
}

div[class*="col-"].col-center {
  margin: auto;
  float: none;
}

/* Helpers */

.text-center-xs {
  text-align: center;
}

.text-center {
  text-align: center;
}

a.block,
.block {
  display: block;  
}

.long-btn {
  width: 100%;
}

.full-height {
  min-height: 100vh;
}

.sm-padd {
  padding-top: 15px;
  padding-bottom: 15px;
}

.md-padd {
  padding-top: 30px;
  padding-bottom: 30px;
}

.lg-padd {
  padding-top: 45px;
  padding-bottom: 45px;
}

/* Titles */

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h1,
h2,
h3 {
  margin-bottom: 15px;
}

/* Branding */

.bg-primary {
  background-color: #46b3e6;
}

.bg-secondary {
  background-color: #4d80e4;
}

.bg-tertiary {
  background-color: #2e279d;
}

.bg-white {
  background-color: #fff;
}

.bg-fade {
  background-color: #e4e4e4;
}

a,
a.color-primary,
.color-primary {
  color: #46b3e6;
}

a:hover {
  color: #4d80e4;
}

a.color-secondary,
.color-secondary {
  color: #4d80e4;
}

a.color-tertiary,
.color-tertiary {
  color: #2e279d;
}

a.color-white,
.color-white {
  color: #fff;
}

a.btn-primary,
.btn-primary {
  text-decoration: none;
  color: #fff;
  background-color: #46b3e6;
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  box-shadow: none;
  border: 0;
  font-size: 16px;
}

.btn-primary:hover,
a.btn-primary:hover {
  background-color: #4d80e4;
  cursor: pointer;
}

#error-div {  
  display: none;
}

#error-div.active {
  display: block;
}

.error-mess {
  color: red;
  display: none;
}

.error-mess.active {
  display: block;
}

.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.img-responsive.img-center {
  margin: 0 auto;
}

.required {
  color: red;
}

.loader {
  display: none;
}

.loader.active {

}

@media (min-width: 768px) {
 
 .flex > div > div > div:first-child,
 .flex > div > div,
 .flex > div {
   height: 100%;
 }
 
 .flex > div > div > div:first-child {
   border-right: 2px solid #ccc;
 }
}